
@font-face {
    font-family: 'kanitbold';
    src: url('/static/css/kanit-bold-webfont.woff2') format('woff2'),
         url('/static/css/kanit-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
th{
    font-family: 'kanitbold';
}